# Individual Project # 3
## By: Eli Dalton
### DS-160-01
### Spring 2023

#### 1.	Attached to this assignment in Moodle is a file called weather_2012.csv. Download this file and put it in the same directory as your notebook. Read the file into a dataset named “df”.

In [1]:
import pandas as pd
df=pd.read_csv('weather_2012.csv', low_memory=False)

#### 2.	Write the code to display the first five rows of the dataset, the last five rows of the dataset and a sample of five random rows from the dataset.

In [2]:
# first 5 rows
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [3]:
# last 4 rows
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [4]:
# sample of 5 random rows
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
6968,2012-10-17 08:00:00,6.3,2.0,74,0,24.1,101.06,Mainly Clear
4133,2012-06-21 05:00:00,24.1,18.2,70,17,24.1,100.60,Mainly Clear
6016,2012-09-07 16:00:00,25.0,9.9,38,6,48.3,100.70,Mostly Cloudy
5924,2012-09-03 20:00:00,25.0,12.6,46,9,25.0,101.21,Mostly Cloudy
1448,2012-03-01 08:00:00,-5.0,-7.5,83,32,1.2,100.59,Snow

#### 3.	Write the code to display a list of all of the columns in the dataset.

In [5]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

#### 4.	The column names are unwieldy for our purposes. Rename them according to this list {date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}.  Keep a copy of the original columns so we can change them back  if needed at the end of our analysis.

In [8]:
orig_col=['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']

df.columns = ['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']

In [9]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

#### 5.	Most of the data in the dataset are numerical, write the code to get some standard statistics for each column (e.g. count, mean, etc.)

In [10]:
# Note: I didn't want to include the date_time column because these statistics don't tell us anything helpful for that
#       column because the date and time are within the same column so I changed the data type to an object so that the
#       describe function would not include it.
df.date_time = df.date_time.astype(object)

df.describe().round()

       temp_c  dew_point  relative_humidity  wind_speed  visibility  pressure
count  8784.0     8784.0             8784.0      8784.0      8784.0    8784.0
mean      9.0        3.0               67.0        15.0        28.0     101.0
std      12.0       11.0               17.0         9.0        13.0       1.0
min     -23.0      -28.0               18.0         0.0         0.0      98.0
25%       0.0       -6.0               56.0         9.0        24.0     101.0
50%       9.0        3.0               68.0        13.0        25.0     101.0
75%      19.0       12.0               81.0        20.0        25.0     102.0
max      33.0       24.0              100.0        83.0        48.0     104.0

#### 6.	Write the code to add a column named temp_f to the dataset that contains the temperature from temp_c represented in Fahrenheit.

In [26]:
df['temp_f']=df['temp_c']*1.8 + 32

In [27]:
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30

#### 7.	Write the code to rearrange the columns in the dataset so temp_f appears immediately before temp_c.

In [30]:
column_to_move = df.pop('temp_f')
df.insert(1, 'temp_f', column_to_move)

In [31]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

#### 8.	Write the code to display the data types of all the columns in the dataset.

In [20]:
df.dtypes

date_time             object
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

#### 9.	You’ll notice that the date_time column is not actually considered a date by Pandas.  Write the code to convert this column to a date/time column. Verify the conversion was successful.

In [21]:
df['date_time']=pd.to_datetime(df['date_time'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_c             8784 non-null   float64
 2   dew_point          8784 non-null   float64
 3   relative_humidity  8784 non-null   int64
 4   wind_speed         8784 non-null   int64
 5   visibility         8784 non-null   float64
 6   pressure           8784 non-null   float64
 7   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

#### 10.	Write the code to get a count of the different weather designations in the weather column and display top 10 weather categories.

In [23]:
df['weather'].nunique()

50

In [25]:
df['weather'].value_counts().head(10)

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

#### 11.	Which month of the year, the temp_f more than 90, humidity less than 50 , dew point more than 17, and the weather is clear? Extract that data and save it to a new data frame.

In [47]:
month_query = df.query('temp_f > 90 & relative_humidity < 50 & dew_point > 17 & weather == "Clear"')
month_query

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
5199,2012-08-04 15:00:00,91.04,32.8,18.8,44,17,24.1,101.39,Clear,8
5200,2012-08-04 16:00:00,90.50,32.5,18.5,44,15,24.1,101.34,Clear,8
5201,2012-08-04 17:00:00,90.50,32.5,19.8,47,13,24.1,101.32,Clear,8

#### 12.	Extract the month information from the date_time column and add a month column at the data frame. (example: dt.month)

In [45]:
df['month']=df['date_time'].dt.month
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog,1
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog,1
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog,1

#### 13.	Save your original dataframe to (‘weather_2012_new.csv’) – ensure your file does not contain the index column of the dataset.

In [48]:
month_query.to_csv('weather_2012_new.csv', index=False)